<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="apple-touch-icon" sizes="57x57" href="image/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="image/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="image/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="image/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="image/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="image/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="image/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="image/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="image/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="image/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="image/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
<link rel="manifest" href="image/manifest.json">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<title>MatchMe | <%= page %></title>
<meta charset="utf-8">
<meta name="active-menu" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="image/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">