<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/home"><img src="image/Matcha.png" alt="LOGO" width="20%"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav  horizontal-list navbar-nav navbar-right">
                <li id="home" ><a href="/home"><i class="fa fa-user-circle"></i> JANE</a></li>
                <li id="about"><a href="/messages"><i class="fa fa-envelope"></i> MESSAGES</a></li>
                <li id="contact"><a href="/settings"><i class="fa fa-cog"></i>SETTINGS</a></li>
                <li id="signin"><a href="/logout"><i class="fa fa-sign-out"></i>LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>