<html>
<head>
  <% include partials/profHead %>
</head>
<body>
<div class="container">
  <div class="header-container">
    <img src="https://s17.postimg.cc/ypm5ye95r/image.jpg" alt="" class="header-image" />
    <div class="header">
      <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg" class="header-icon">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>

      <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg" class="u-float-right header-icon">
        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <h1 class="main-heading">Hugh Jackman</h1>
      <span class="tag">Actor</span>
      <span class="tag">Producer</span>
      <div class="stats">
        <span class="stat-module">
          Movies <span class="stat-number">56</span>
        </span>
        <span class="stat-module">
          Plays <span class="stat-number">29</span>
        </span>
        <span class="stat-module">
          Musicals <span class="stat-number">11</span>
        </span>
      </div>
    </div> <!-- END header -->
  </div>
  
  <div class="overlay-header"></div>
  
  <div class="body">
    <img src="https://s17.postimg.cc/xcbukrwdr/Hugh_Jackman_f.jpg" alt="Hugh Jackman" class="body-image" />
    <div class="body-action-button u-flex-center">
      <svg fill="#ffffff" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </div>
    <span class="body-stats">Followers <span>3.5k</span></span>
    <span class="body-stats">Following <span>1.9k</span></span>
    <div class="u-clearfix"></div>
    <div class="body-info">
      <p>
        Hugh Michael Jackman is an Australian actor, singer and producer. Jackman has won international recognition for his roles in variety of film genres.
      </p>
      <p>
      In Broadway theatre, Jackman won a Tony Award for his role in The Boy from Oz. A four-time host of the Tony Awards themselves, he won an Emmy Award for one of these appearances. Jackman also hosted the 81st Academy Awards on 22 February 2009.
      </p>
    </div>
    <div class="body-more">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="card u-clearfix">
      <span class="card-heading">Movies</span>
      <span class="card-more">
        <svg fill="#777777" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
        </svg>
      </span>
      <ul class="card-list">
        <li><img src="https://s12.postimg.cc/c0ryp65lp/m1f.jpg" alt="" /></li>
        <li><img src="https://s14.postimg.cc/6ts0it3xt/m2f.jpg" alt="" /></li>
        <li><img src="https://s13.postimg.cc/ri499o2zr/m3f.jpg" alt="" /></li>
      </ul>
    </div>
  </div>
  
</div>
</body>
</html>