<!DOCTYPE html>
<html >
  <head>
    <% include partials/head %>
  </head>
  <body >
    <% include partials/loggedInMenu %>
    <div class="container" style="font-size: medium;">
      <div class="row">
        <div class="col-sm-4">
            <label class="custom-file">
              <!-- <input type="file" id="file" class="custom-file-input"> -->
              <!-- <span class="custom-file-control"><i class="fa fa-cloud-upload" style="font-size:48px;color:#1887b4"></i></span> -->
            </label>
            <img src="//placehold.it/350" class="mx-auto img-fluid img-circle d-block fa fa-user-circle-o" alt="avatar">
        </div>
        <div class="col-sm-4">
          <h2>About</h2>
            <p>
              Web Designer, UI/UX Engineer
              <input type="button" class="btn btn-secondary" onclick="openForm('bio', ['interests', 'sexual_preference'])" style="float: right;" value="Edit">
              <div class="form-popup" id="bio">
                <form action="/home/bio" name="myForm" method="POST">
                  <div class="form-group">
                      <input type="text" class="form-control" name="bio" placeholder="Describe who you are">
                  </div>
                  <button type="submit" class="btn-block btn btn-lg btn-primary">Save</button>
                  <input type="button" class="btn btn-secondary" onclick="closeForm('bio')" value="Cancel">
                </form>
              </div>
            </p>
          <h2>Interests</h2>
          <p>
            Indie music, skiing and hiking. I love the great outdoors.
            <input type="button" class="btn btn-secondary" onclick="openForm('interests', ['bio', 'sexual_preference'])" style="float: right;" value="Edit">
            <form action="/home/interests" method="POST">  
              <div class="form-popup" id="interests">
                <input type="hidden" name="sports" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
                <label for="sports"> Sports</label><br>
                <input type="hidden" name="blogging" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
                <label for="vehicle2"> Blogging</label><br>
                <input type="hidden" name="volunteering" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
                <label for="vehicle3"> Volunteering</label><br>
                <input type="hidden" name="traveling" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
                <label for="vehicle1"> Traveling</label><br>
                <input type="hidden" name="art&design" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
                <label for="vehicle2"> Art & Design</label><br>
                <input type="hidden" name="music" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
                <label for="vehicle3"> Music</label><br>
                <input type="hidden" name="reading" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
                <label for="vehicle1"> Reading</label><br>
                <input type="hidden" name="videoGaming" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
                <label for="vehicle2"> Video Gaming</label><br>
                <input type="hidden" name="yoga" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
                <label for="vehicle2"> Yoga</label><br>
                <button type="submit" class="btn-block btn btn-lg btn-primary">Save</button>
                <input type="button" class="btn btn-secondary" onclick="closeForm('interests')" value="Cancel">
              </div>
          </form>
          </p>
          <h2>Sexual Prefence</h2>
            <p>
              Male
              <input type="button" class="btn btn-secondary" onclick="openForm('sexual_preference', ['interests', 'bio'])" style="float: right;" value="Edit">
              <form class="form-popup" id="sexual_preference" action="/home/sexual_preference" name="myForm" method="POST">
                <div class="form-group">
                  <label for="sexualPreference">Sexual Preference</label>
                  <select name="name" id="sexualPreference">
                      <option value="male">Males</option>
                      <option value="female">Females</option>
                      <option value="both">Both Males and Females</option>
                  </select>
                </div>
                <button type="submit" class="btn-block btn btn-lg btn-primary">Save</button>
                <input type="button" class="btn btn-secondary" onclick="closeForm('sexual_preference')" value="Cancel">
              </form>
            </p>
        </div>
        <div class="col-sm-4">
          <h2>Recent badges</h2>
          <a href="#" class="badge badge-dark badge-pill">html5</a>
          <a href="#" class="badge badge-dark badge-pill">react</a>
          <a href="#" class="badge badge-dark badge-pill">codeply</a>
          <a href="#" class="badge badge-dark badge-pill">angularjs</a>
          <a href="#" class="badge badge-dark badge-pill">css3</a>
          <a href="#" class="badge badge-dark badge-pill">jquery</a>
          <a href="#" class="badge badge-dark badge-pill">bootstrap</a>
          <a href="#" class="badge badge-dark badge-pill">responsive-design</a>
          <hr>
          <span class="badge badge-primary"><i class="fa fa-thumbs-up"></i>Like</span>
          <span class="badge badge-success">Rating <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
          <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <h3 class="mt-2">Activity Log<span class="fa fa-clock-o ion-clock" style="float: right;"></span></h3>
            <table class="table table-sm table-hover table-striped">
              <tbody>                                    
                <tr>
                  <td>
                    <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <% include partials/script %>
</html>