<!DOCTYPE html>
<html >
  <head>
    <% include partials/head %>
  </head>
  <body >
    <% include partials/loggedInMenu %>
    <div class="container" style="text-align: center;">
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <table class="table table-hover table-striped">
            <tbody>                                    
                <tr>
                    <td>
                        <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. 
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus. 
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros. 
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
  </body>
</html>