<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="req">
    <% include partials/menu %>
    <div>
      <div>
        <form action="/reset_password" name="myForm" method="POST">
          <h1>Reset Password</h1>
          <div class="icon">
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="formcontainer">
            <div class="container">
              <label for="email"><strong>Email Address</strong></label><br>
              <input type="email" placeholder="Enter Email" name="mail">
            </div>
            <button type="submit"><strong>Submit</strong></button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <% include partials/script %>
</html>